* {
    box-sizing: border-box;
    list-style: none;

}


header {
    text-align: center;
    min-height: 250px;
    background-image: url("photo\ ville\ de\ lille.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: #fff;
    padding: .5rem;
}

.photosRestos img{
 
    height:400px;
    width: 330px;
    border-radius: 15px;
    margin: 20px
}

.photosRestos{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.photosRestos button{
    border-radius: 15px;
    border-style: hidden;
    background-color: transparent;
}
