* {
    box-sizing: border-box;
}


header {
    text-align: center;
    min-height: 250px;
    background-image: url("photo\ ville\ de\ lille.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: #fff;
    padding: .5rem;
}