* {
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: url(image/pexels-timmossholder-1113520.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    min-height: 250px;
    background-image: url("image/Photo-Wenov.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: #fff;
    padding: .5rem;
}

h1 {
    font-size: 100px;
    color: rgb(233, 20, 66);
    text-shadow: 0 0 10px rgb(247, 93, 127);
    text-align: center;
    font-family: "Neonderthaw", cursive;
    ;
    margin: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.photosRestos img {
    height: 400px;
    width: 330px;
    border-radius: 15px;
    margin: 20px;
}

.photosRestos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}

.photosRestos button {
    border-radius: 15px;
    border-width: 3px;
    border-style: hidden;
    background-color: transparent;

}

@media (max-width: 500px) {
    .photosRestos img {
        height: 250px;
        width: 200px;
        border-radius: 15px;
        margin: 20px;
    }

    .icones {
        display: flex;
        justify-content: space-around;
        padding: 50px;
        margin: 15px;
        min-height: 100px;
        gap: 20px;
    }
}